@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
html{
    scroll-behavior: smooth;
}
header{
/*  background: linear-gradient(90deg, rgba(11,11,11,0.6) 100%, rgba(0,212,255,0.6) 100%),url("HeroPhoto2.jpg");*/
  color:#ffffff;
  padding-top:0px;
  min-height:70px;
  border-bottom:#ffc760 3px solid;
  background-color: white;
}
header img{
    float:left;
    display:inline;
    height:100px;
    width: 100px;
}
header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  font-family: arial;
}
header ,li ,a{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 110;
}
header li{
    margin-top: 25px;
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}


header nav{
    float:right;
    
  }
  
header .highlight, header .current a{
  color:#e48e0d;
  font-weight:bold;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}
  
header a:hover{
    color:#cccccc;
    font-weight:bold;
    transition: width .3s ;
    border-bottom: #ea9a21 0.125em solid;
  }

.container{
    width:90%;
    margin:auto;
    overflow:hidden;
}
 

    
    .nav-brand{
        width:3.5rem;
    }
    .nav.list{
        width:initial;
        height:initial;
        background-color: transparent;
        position: initial;
        top:initial;
        right:initial;
        flex-direction: row;
        transition: initial;
    }
    .menu-icons{
        display: none;

    }
    .nav-item{
        margin:0 2.5rem;

    }
    .nav-link,
    .current{
        color:#fafafa;
        position: relative;
        font-size: 1.3rem;
    }
    .nav-link::before,
    .current::before{
        content:"";
        position: absolute;
        left:0;
        bottom:-.5rem;
        background-color: #eb648c;
        width:100%;
        height:2px;
        transform:scaleX(0);
        transform-origin:left ;
        transition:transform 650ms;
    }
    .current::before{
        transform:scaleX(1);
    }
    .nav-link:hover::before{
        transform: scaleX(1)

    }
    
    .hero{
        height:60vh;
    }
    .main-message{
        transform:translateY(50%);

}
.title-heading h1{
    font-size:2.5rem;
}


body{
    background-color: black;
    margin: 0px;
    min-width: 1000px;
}
#hcontainer{
    display:flex;
    flex-direction: row;
}
.listat{
    display:flex;
    flex-direction:row;
}
p{
    font-size: 1.6rem;
}
main{
    margin-left: 0rem;
    margin-right: 0rem;
   /* background:url("Photos/back2.jpg")center no-repeat;*/
    background-color: #fafafa;
    background-size:cover;
    background-position: center
    
    
    
}
/*-----------------------------pjesa e 1 e body-------------------------------------------------------------*/
/*section{
    padding: 3.8rem 0;
}
.bcontainer{
    width: 100%;
    max-width: 90rem;
    min-width: 800px;
    margin: 0 auto;

}*/
.hero{
    width: 100%;
    height: 100%;
    min-width: 800px;
    min-height: 300px;
  background:url("Photos/v870-tang-36_1.jpg")center no-repeat;
    background-size: cover;
    background-position: center;
    
    position: apsolute;
   
}
.teksti{
    position:absolute;
    margin-left: 680px;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-color: rgb(150, 235, 150);
    border-radius: 50px;
    text-align: center;
    background-image: url("Photos/ccfccf92d46fd175bb1f7d5301de4b7a.png");
    background-position: center;
    background-size: cover;
}
.form-box{
    width:380px;
    height: 480px;
    top: 160;
    position:relative;
    margin: 0% auto;/*6*/
    padding: 5px;
    background: #fff;
   overflow: hidden;
   background-color: #000000;
    border-radius: 40px
}
.botton-box{
    width:220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border:30px;
    
    
}
.toggle-btn{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border:0;
    color: white;
    outline:none;
    position:relative;
    padding-left: 90;
    margin-top: 20px;
}
#btn{
    top:20;
    left:60px;
    position:absolute;
    width:110px;
    height:10%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition:.5s;
}
.social-icons{
    margin:30px auto;
    text-align:center;
}
.social-icons img{
    width:30px;
    margin:0 12px;
    box-shadow:0 0 20px 0 #7f7f7f3d;
    cursor:pointer;
    border-radius:50%;
}
.input-group{
    top:180px;
    position:absolute;
    width:280px;
    transition:.5s;

}
.input-field{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:1px solid #999;
    outline:none;
    background: transparent;
}
.submit-btn{
    width:40%;
    height: 50px;
    padding:10px 30px;
    margin-bottom: 50px;
    cursor:pointer;
    display: block;
    margin:auto;
    background:linear-gradient(to right,#ff105f,#ffad06);
    border:0;
    outline:none;
    border-radius:30px;
}
.chech-box{
    margin:30px 10px 30px 0;
}
span{
    color:#777;
    font-size:12px;
    bottom: 80px;
    position:absolute;
}
#login{
    left:50px;
}
#register{
    left:550px;
}
/*.hero::before{
    content: "";
    position: absolute;
    left: 0;
    top: 400;
    bottom: 0;
    width: 100%;
    height: 19.3rem;
   /* background: url("divider.png") center no-repeat;*//*
    min-width: 800px;
    background-size:cover;

}
*/

/*-----------------------------pjesa e footer-------------------------------------------------------------*/

.footer{
	background-color: #000000;
	padding: 20px 0px 20px 0px;
}

.footer h1{
	color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 10px;
    font-weight: 700;
    text-align: left;
}

.footer p{
	color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
   	font-weight: 200;
}

.footer ul{
	list-style-type: none;
	padding-left: 0px;
}

.footer li{
	color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 24px;
   	font-weight: 200;
   	display: flex;  
       height: 50;
}

.footer .ndryshe i{
	color: white;
	font-size: 14px;
	line-height: 14px;
}

.footer i{
	color: #FFD749;
	padding-right: 10px;
	font-size: 18px;
	line-height: 18px;
}

hr{
	display: block;
	height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0; 
}

.footer .special{
	padding-bottom: 20px; 
}

.footer .special p{
	color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
}

.footer .special .p1{
	float:left;
}

.footer .special .p2{
	float: right; 
}
.row{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.row img{
    height: 150px;
    padding-right: 20px;
}

